<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				<form class="form-horizontal" #logForm="ngForm" [formGroup]="loginForm">
					<div class="form-group">
						<label for="email" class="col-xs-11 control-label" style="text-align:left">Username</label>
						<!--username validation check-->
						<div class="col-xs-12">
							<input type="text" class="form-control" formControlName="email"
								placeholder="Enter email id">
							<div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty||loginForm.controls.email.touched)"
								style="color: red;">
								<div *ngIf="loginForm.controls.email.errors.required">
									Field is required
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="notickets" class="col-xs-11 control-label" style="text-align:left">Password</label>
						<div class="col-xs-12">
							<input type="password" class="form-control" formControlName="password" placeholder="Enter password">
							<!--password validation check-->
							<div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty||loginForm.controls.password.touched)"
								style="color: red;">
								<div *ngIf="loginForm.controls.password.errors.required">
									Field is required
								</div>
								<div *ngIf="loginForm.controls.password.errors.minlength">
									Minimum length of password is 6 characters
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="!valid" class="error" style="color:red;">Invalid Credentials!! Please try again</div>
					<!--submit form-->
					<div class="form-group">
						<div>
							<button type="button" class="btn btn-primary btn-block" value="submit"
								(click)="onSubmit()">Login</button>
						</div>
					</div>
					<!--navigate to register page-->
					<div class="form-group">
						<div>
							<p>Not registered? <a [routerLink]="['/register']">Sign Up</a></p>
						</div>
					</div>
				</form>
				<div *ngIf="errorMessage!=null">
					<span class="error">{{errorMessage}}</span>
				</div>
				<div *ngIf="successMessage!=null">
					<span class="success">{{successMessage}}</span>
				</div>
			</div>
		</div>
	</div>
</div>